body {
    background-color:rgb(21, 48, 66);
    font-family: "Poppins", sans-serif;
}
#Headlines{
    color: whitesmoke;
    text-shadow: 0 0 7px #FFFFFF;
    text-align: center;
}
h1{
    margin-top: 5%;
}
#boxA {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    text-shadow: 0 0 7px #FFFFFF;
    text-align:center;
    color:white ;
    font-size:70%;
}
#boxB {  
      box-shadow: 0 0 10px white;
    border-color:whitesmoke;
    text-shadow: 0 0 7px #FFFFFF;
    color: whitesmoke;
    font-size: 80%;
    border-radius: 50%;
    width: 90px;
    height: 90px;
}
.container {
    display: flex;
    margin-top: 5%;
    margin-left: 10% ;
}
#container1{
    margin-left: 20% ;
}
.sun{
    background-color: rgb(255, 204, 62);
    box-shadow: 0 0 10px white;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}
.Venus1 {
    background-image: url("../img/venus.png");
}
.Earth1{
    background-image: url("../img/earth2.png"); 
}
.Saturn1{
    background-image: url("../img/saturn.png");
}
.Neptune1{
    background-image: url("../img/neptune.png");
}
.Mercury1{
     background-image: url("../img/mercury.png");
}
.Mars1{
    background-image: url("../img/mars.png");
}
.Jupiter1{
    background-image: url("../img/jupiter.png");
}
.Uranus1{
    background-image: url("../img/uranus.png");
}
div div div {
    margin-left: 2%;
}

footer {
    cursor: pointer;
    margin-top: 50px;
    margin-bottom: auto;
    font-size: 2em;
    text-align: center;
  }
  small{
      color: whitesmoke;
      text-shadow: 0 0 7px #FFFFFF;
      font-weight: bolder;
  }
  
  .darkmode {
    color: #dcdcdc;
    background-color:#87CEFA ;
    
  }
  button {
    background: #FFFFFF;
    text-shadow: 0 0 7px #FFFFFF;
    border-color: transparent;
    border-radius: 0.85rem;
    color: #828282;
    padding:10px;
    margin-left: 47%;
    margin-top: 1%;
}
#help1{
display: none;
color: whitesmoke;
text-shadow: 0 0 7px #FFFFFF;
text-align: center;
}